<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='drive.css')}}">
    <title>{{title}}</title>
</head>
<body>

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!-- Navbar content -->
        <a class="navbar-brand" href="/">Navbar</a>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="https://d2x433i70n1kdv.cloudfront.net/">비디오 녹화<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/drive">저장공간</a>
              </li>
            </ul>
          </div>
    </nav>
    <div class="row">
        <nav aria-label="breadcrumb" style="flex:auto">
            <ol class="breadcrumb">
                <script>
                    let breadcrumb = $('.breadcrumb');
                    let routes = "{{route}}".split('/');
                    let curPath = routes[0];
                    for (let i=0; i<routes.length-1; i++){
                        breadcrumb.append('<li class="breadcrumb-item"><a href="/drive?dirs=' + curPath + '&filename=\">'+ routes[i] +'</a></li>');
                        curPath = curPath + '/' + routes[i+1]
                    }
                    breadcrumb.append('<li class="breadcrumb-item active" aria-current="page">'+routes[routes.length-1]+'</li>');
                </script>
            </ol>
        </nav>
        {% if video %}
        <form method="POST" action="video_delete">
            <input type="text" name="dirs" value="{{route}}" hidden="True">
            <button type="submit" class="btn btn-outline-secondary delete-btn">삭제</button>
        </form>
        {% endif %}
    </div>
    <div class="row">
        <div class="col">
            {% for file in files %}
            <a href="{{ url_for('drive', dirs=route, filename=file) }}"><h6>{{file}}</h6></a>
            {% endfor %}
            {% if video %}            
            <div class="video-item">
                <img src="{{url_for('video_feed', dirs=route)}}">
            </div>
            {% endif %}
        </div>
    </div>
</div>
</body>
</html>