<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='index.css')}}">
    <title>{{title}}</title>
</head>
<body>

<div class="container">
    <video id="camera"></video>
    <div class="row">
        <div class="col-lg-8  offset-lg-2">
            {%for i in range(0, len)%}
            <form class="btn_gesture_record" action="{{ url_for('video_feed') }}" method="POST">
                <input type="text" name="type" value="{{i}}">
                <button type="submit" class="btn btn-outline-primary">{{gestures[i]}}</button>
            </form>
            {%endfor%}
        </div>
    </div>
</div>
</body>
<script src="{{url_for('static', filename='webcam.js')}}"></script>
</html>